*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: cursive; */
}

h1{
    text-align: center;
    font-size: 5rem;
    /* margin-top: 20px; */
}
/* css variables */
:root{
    --cell-size : 100px;
    --mark-size : calc( var(--cell-size) * 0.9 );
}

/* board */
.board{
    margin: 0 auto;
    width: 100vh;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3 , auto);
    justify-content: center;
    align-content: center;
}
.cell{
    height: var( --cell-size );
    width: var( --cell-size );
    border: 1px solid black;
    /* background-color: green; */
    position: relative;
}

/* remove border */
/* pseudo-elements(topic-mdn) */
.cell:first-child , 
.cell:nth-of-type(2) ,
.cell:nth-of-type(3){
    border-top: none;
} 
.cell:nth-child(3n+3){
    border-right: none;
}
.cell:nth-child(3n+1){
    border-left: none;
}
.cell:last-child , 
.cell:nth-of-type(7) ,
.cell:nth-of-type(8){
    border-bottom: none;
} 

/* -------------------------------------------------- */


/* mark x */
.x::before , .x::after{
    content: "";
    height: var(--mark-size);
    width: calc( var(--mark-size)* .15 );
    background-color: black;
    position: absolute;
    right: 45%;
    top: 7%;
}

.x::before{
    transform: rotate(45deg);
}
.x::after{
    transform: rotate(-45deg);
}

/* circle mark */


.circle::before , .circle::after{
    content: "";
    height: var(--mark-size);
    width: var(--mark-size);
    background-color: black;
    position: absolute;
    border-radius: 50%;
    top: 5%;
    right: 4%;
}

.circle::after{
    height: calc( var(--mark-size) * 0.7 );
    width: calc( var(--mark-size) * 0.7 );
    background-color: white;
    top: 19%;
    right: 18%;
}


/* blocking the cursor */
.circle , .x{
    cursor: not-allowed;
}

.winner-message{
    display: none; /*verrided*/
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    flex-direction: column;
    background-color: rgba(0,0,0,0.9);
    color: white;
    font-size: 2.5rem;
    gap: 10px;
}

.winner-message button{
    font-size: 4rem;
    background-color: white;
    border: 2px solid black;
    padding: .25em .5em;

}

.winner-message.show{
    display: flex;
}